<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <meta name="title" content="Anderson Bones - Portfolio - Desenvolvedor Full Stack | Designer UI/UX">
        <title>Anderson Bones - Portfolio - Desenvolvedor Frontend</title>
        <meta name="author" content="Anderson Bones">
        <meta name="keywords" content="Anderson Bones, web designer, desenvolvedor, programador, front-end, back-end, fullstack, mobile, developer">
        <meta name="description" content="Desenvolvedor Frontend">
        <meta name="robots" content="index, follow">
        <meta http-equiv="content-language" content="pt-br">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">
        <meta name="copyright" content="© 2022 Anderson Bones">
        <meta name="rating" content="general">
        <meta property="og:url" content="https://portfolio-pv42.onrender.com/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Anderson Bones - Portfolio">
        <meta property="og:description" content="Desenvolvedor Frontend">
        <meta property="og:image" content="https://avatars.githubusercontent.com/u/91613692?v=4">
        <meta property="og:site_name" content="Anderson Bones - Portfolio">

        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
       
        <link rel="stylesheet" href="/stylesheets/responsive.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/loader.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        


        <script src="/scripts/scripts.js" defer></script>
    </head>
    <body class="position-relative">
        
        <header class="text-light main-header position-relative">
            <div class="header-bg1"></div>

            <nav class="borber border-white  pt-3 ps-5 pe-5 pb-3 animate__animated animate__faster animate__slideInDown navbar navbar-expand-md bg-body-tertiary">
                <div class="container-fluid">
                   
                    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="bi bi-list"></i>
                    </button>
                    <div class=" collapse navbar-collapse " id="navbarNavDropdown">
                        <ul class="navbar-nav d-flex">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#resume">Olá</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#portfolio">Portifólio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#stack">Stack</a>
                            </li>
                        
                        </ul>
                    </div>
                </div>

                <a class="contact-btn d-none d-md-block btn btn-warning me-2 text-white" style="letter-spacing: 2px;" href="#contato"><b>CONTATO</b></a>
                
            </nav>

            <div class="position-absolute hero w-100 align-items-center justify-content-center gap-5 d-flex">
                <div class="person-info d-flex flex-column gap-2 animate__animated animate__fadeInUp animate__delay-1s">
                    <div class="d-flex flex-column person-description">
    
                        <h1> <span class="text-warning">Olá</span>, me chamo <br><h1 style="border-bottom: 1px solid var(--textSecondary);">Anderson Bones</h1><br></h1>
                        <p>Sou Desenvolvedor Full-stack <br> com experiencia em desenvolvimentos <br> de websites institucionais e pessoais.</p>
                    </div>

                 
        
                    <div class="contact-btn ">
                        <a class="btn btn-warning text-white"  href="#contato"><span>FALE COMIGO</span></a>
                    </div>

                </div>

                <figure class="person-photo animate__animated animate__fadeInUp animate__delay-1s border-start border-top border-5 border-warning">
                    <img class="" src="/images/personal-photo1.png"  alt=""  >
                </figure>

            </div>
           
        </header>
         


        <section id="resume" class="resume container text-Primary d-flex flex-column gap-5">

            <div class="hi">
                <h1 class="pt-4">OLÁ</h1>
                <p><%= PersonalData[0].resume %></p>
                <a class="d-flex download-dv justify-content-center align-items-center btn btn-warning text-white" href="/download-cv"><i class="bi bi-download "></i> <span>DOWNLOAD CV</span></a>
            </div>
          
            

            <div class="education ">
                <h5 class="formatElement d-inline-block">FORMAÇÃO ACADÊMICA</h5>
                

                <div class="education-list mt-3">
                    <div class="item">
                        <p class="mb-2"><%=PersonalData[0].university%></p>
                        <span >2022 - 2024</span>
                        <p class="mt-2"><%= PersonalData[0].education%></p>
                    </div>
                </div>
            </div>

                <!-- <div class="employment">
                    <h5>Experiências Profissionais</h5>
                    

                    <div class="employment-list " >
                        
                       EmploymentData.map(item =>{ %>
                            <div class="item ">
                                <p class="mb-2">item.company</p>
                                <span >item.period</span>
                                <p class="mt-2 mb-0">item.emp</p>
                            </div>
                        }) 
                
                
                    </div>
                </div> -->

                <div class="qualifications">
                    <h5 class="formatElement">QUALIFICAÇÕES</h5>
                </div>

                <div id="stack" class="stack  text-Primary ">
                    <h5 class="formatElement">STACK</h5>

                    <div class="stacks-list d-flex  flex-wrap ">
                        
                        <div class="stack-item  d-inline-flex flex-column  align-items-center">
                            <img src="https://img.icons8.com/color/144/null/html-5--v1.png" />
                            <p>HTML</p>
                        </div>
                        
                        <div class="stack-item  d-inline-flex flex-column  align-items-center">
                            <img src="https://img.icons8.com/color/144/null/css3.png"/>
                            <p>CSS</p>
                        </div>

                        <div class="jquery stack-item d-inline-flex flex-column  align-items-center">
                            <img src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/96/null/external-jquery-is-a-javascript-library-designed-to-simplify-html-logo-shadow-tal-revivo.png" />
                            <p >JQUERY</p>
                        </div>

                        <div class="stack-item  d-inline-flex flex-column  align-items-center">
                            <img src="https://img.icons8.com/color/144/null/bootstrap.png"/>
                            <p>BOOTSTRAP</p>
                        </div>


                        <div class="stack-item  d-inline-flex flex-column  align-items-center">
                            <img src="https://img.icons8.com/fluency/144/null/javascript.png" />
                            <p>JAVASCRIPT</p>
                        </div>

                        <div class="stack-item  d-inline-flex flex-column  align-items-center">
                            <img src="https://img.icons8.com/fluency/144/null/node-js.png"/>
                            <p>NODE.JS</p>
                        </div>
                        
                        <div class="stack-item  d-inline-flex flex-column  align-items-center">
                            <img src="https://img.icons8.com/fluency/144/null/typescript--v2.png"/>
                            <p>TYPESCRIPT</p>
                        </div>

                        <div class="stack-item  d-inline-flex flex-column  align-items-center">
                            <img src="https://img.icons8.com/color/144/null/mongodb.png"/>
                            <p>MongoDB</p>
                        </div>

                        <div class="stack-item  d-inline-flex flex-column  align-items-center">
                            <img src="https://img.icons8.com/color/144/null/firebase.png"/>
                            <p>FIREBASE</p>
                        </div>

                        <div class="stack-item  d-inline-flex flex-column  align-items-center">
                            <img src="https://img.icons8.com/color/144/null/postgreesql.png"/>
                            <p>POSTGRESQL</p>
                        </div>

                        <div class="stack-item  d-inline-flex flex-column  align-items-center">
                            <img src="https://img.icons8.com/color/144/null/git.png"/>
                            <p>GIT</p>
                        </div>

                        
                    </div>
                </div>
            
        </section>
       
        <div class="line "></div>

        <section id="portfolio" class="projects w-100 container text-Primary m-auto ">
            <h1 class="mb-3">PROJETOS</h1>

            <div class="projects-cards m-auto d-flex flex-column" >
        
                <% Projects.map(item=>{ %>
                    
                    <div class="project-card p-3  border  rounded d-flex flex-column flex-md-row align-items-center">
                        <div class="image-project  col-12 col-md-6 p-2">
                            <img src="<%=item.screen%>" alt="">
                        </div>
        
                        <div class="description-project pt-3 col-12 col-md-6 ms-2 d-flex gap-3 flex-column ">
                            <h2><%= item.name %></h2>
                            <p style="word-break: normal;"><%= item.description %></p>
        
                            <div class="used-stack ">
                                <p>STACK:</p>
                                
                                <% item.stack.map(stackItem=>{%>
                                    <img src="<%= stackItem %>" alt="">
                                <%}) %>
                                
                            </div>
                            <div class="livePreview d-flex  justify-content-end me-3">
                                <a class=" d-flex align-items-center  text-decoration-none gap-2" target="_blank" href="<%=item.link%>"><span>Preview</span> <i class="bi bi-box-arrow-up-right"></i></a>
                            </div>
                           
                        </div>
                    </div>
                <%}) %>
                
                
            </div>
        </section> 
        
        <footer id="contato" class="w-100">
            <div class="footer-container container pt-5 pb-5 col-12 ">
                <div class="contact-intro text-white text-center">
                    <h1 class="text-warning">CONTATO</h1>
                    <p>Preencha o formulário abaixo para esclarermos suas dúvidas e dar início ao seu projeto!</p>
                </div>
              
                <form method="post" class="col-10 col-md-7 m-auto contact-form " action="https://formsubmit.co/abones19@hotmail.com">
                    <fieldset class="form-group d-flex flex-column gap-3">    
                        <input type="text" required class="form-control" name="name" placeholder="Nome *">              
                        <input type="email" required class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email *">
                        <input type="text" required class="form-control" name="subject" placeholder="Assunto *">
                        <textarea required class="form-control" id="exampleFormControlTextarea1" name="message" placeholder="Mensagem" rows="10" cols="30"></textarea>
                        <button id="send-email" type="submit" class="btn btn-warning text-white mt-4 pt-2 pb-2">ENVIAR</button>
                    </fieldset>
                    
                  </form>

                  <div class="contact-info  m-auto  text-white mt-5 d-flex gap-5 gap-lg-2 flex-column flex-lg-row justify-content-around text-center">
                        <div class="contact-info--location  d-flex flex-column    rounded p-3">
                            <a href="https://www.google.com/maps/d/u/0/embed?mid=17LfyGvP7eBn-y5c_x64P5DC-jRA&hl=en_US&ehbc=2E312F&ll=-12.81544199209076%2C-55.8264365&z=11" target="_blank" class="active-hover text-decoration-none">
                                <i class="bi bi-geo-alt "></i>
                                <h5 >Localização</h5>
                            </a>
                           
                            <p>Lucas do rio Verde <br> Mato Grosso <br>Brasil</p>
                            
                        </div>

                        <div class="contact-info--email  rounded p-3 d-flex flex-column  ">
                            <a href="mailto:abones19@hotmail.com" class="active-hover text-decoration-none">
                                <i class="bi bi-envelope "></i>
                                <h5>Envie um E-mail</h5>
                            </a>
                            
                            <span>abones19@hotmail.com</span>
                        </div>

                        <div class="contact-info--whatsapp   rounded p-3 d-flex flex-column ">
                            <a href="https://wa.me/5565996237611" class="active-hover text-decoration-none">
                                <i class="bi bi-whatsapp"></i>
                                <h5 >Whatsapp</h5>
                            </a>
                            
                            <span>(+55) 65 99623-7611</span>
                        </div>
                  </div>
                 
                  <div class="copyright text-center text-md-start  d-flex flex-column-reverse flex-md-row align-items-center gap-3  justify-content-around ">
                    <span >© Todos os Diretos Reservados - Anderson Bones | <br>
                         Design by <a href="mailto:abones19@hotmail.com" class="text-warning text-decoration-none">abones19@hotmail.com</a>
                        </span>

                    <div class="copyright-social  d-flex gap-3 ">
                        <a href="https://www.linkedin.com/in/anderson-bones/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://github.com/AndersonBones" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="https://www.instagram.com/bonesdev/" target="_blank"><i class="bi bi-instagram"></i></a>
                    </div>
                  </div>
            </div>

            <a id="go-top" class=" btn btn-warning position-fixed  text-white bi bi-arrow-up" title="Voltar ao início p-3" href="#top"></a>
                
            
            
        </footer>

        <div id="preloader" class=" position-fixed ">
            <div class="loading-header"></div>
            <div id="icon-loader" class="loader position-absolute"></div>
        </div>
     

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>